# This CODEOWNERS file defines contributors that are
# responsible for code in this repository.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.

# These owners will be default owners for everything in this repository.
# These owners consist of Maintainers
* @david-a-wheeler @GeauxJD


# Approvers for English content
/content/en/ @david-a-wheeler @GeauxJD

